<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Prateek.consumerprotectionrights"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.Prateek.consumerprotectionrights.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Prateek.consumerprotectionrights.SecondActivity"
            android:label="@string/title_activity_second"
            android:parentActivityName="com.Prateek.consumerprotectionrights.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Prateek.consumerprotectionrights.MainActivity" />
        </activity>
        <activity
            android:name="com.Prateek.consumerprotectionrights.NumberOneActivity"
            android:label="@string/title_activity_number_one"
            android:parentActivityName="com.Prateek.consumerprotectionrights.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Prateek.consumerprotectionrights.MainActivity" />
        </activity>
        <activity
            android:name="com.Prateek.consumerprotectionrights.NumberTwoActivity"
            android:label="@string/title_activity_number_two"
            android:parentActivityName="com.Prateek.consumerprotectionrights.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Prateek.consumerprotectionrights.MainActivity" />
        </activity>
        <activity
            android:name="com.Prateek.consumerprotectionrights.NumberThreeActivity"
            android:label="@string/title_activity_number_three"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.Prateek.consumerprotectionrights.NumberFourActivity"
            android:label="@string/title_activity_number_four"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.Prateek.consumerprotectionrights.NumberFiveActivity"
            android:label="@string/title_activity_number_five"
            android:parentActivityName="com.Prateek.consumerprotectionrights.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Prateek.consumerprotectionrights.MainActivity" />
        </activity>
        <activity
            android:name="com.Prateek.consumerprotectionrights.NumberSixActivity"
            android:label="@string/title_activity_number_six"
            android:parentActivityName="com.Prateek.consumerprotectionrights.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Prateek.consumerprotectionrights.MainActivity" />
        </activity>
    </application>

</manifest>